.note-card-container {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 2rem;
    background: var(--primary);
    width: 100%;
    border-radius: 0.4rem;
    border: thin solid var(--accent);
    min-height: 10rem;
    max-height: 10rem;
    flex: 1;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    gap: 1rem;
    cursor: pointer;
}

.note-card-container:hover {
    box-shadow: 0rem 0.5rem 0.5rem var(--shadow);
    border: thick solid var(--accent);
}

.note-card-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.note-card-title:empty::before {
    content: "No Title";
    opacity: 0.5;
}

.note-card-content {
    font-size: 0.8rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;

}

#single-note {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    padding: 1rem;
    max-width: 768px;
    gap: 1rem;
}

#single-note-form {
    border: thin solid var(--accent);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

#single-note-title {
    font-weight: 600;
    background: var(--primary);
    border: none;
    color: var(--accent);
}

#single-note-content {
    font-weight: 300;
    white-space: pre-wrap;
    height: 100%;
    background: var(--primary);
    border: none;
    color: var(--accent);
}

