#profile {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  padding: 1rem;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  #profile {
    flex-direction: row-reverse;
    align-items: start;
    justify-content: center;
  }
}

#image-container {
  width: 100%;
  height: 17rem;
  min-width: 17rem;
  min-height: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-purple-highlight),
    var(--secondary-green-highlight)
  );
  border-radius: 0.8rem;
  position: relative;
}

#edit-profile-image-button {
  border: none;
  outline: none;
  background: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

#edit-profile-image-button:hover {
  background: var(--secondary);
  color: var(--accent);
  box-shadow: 0rem 0.5rem 0.5rem var(--shadow);
}

@media screen and (min-width: 768px) {
  #image-container {
    height: 10rem;
    width: 10rem;
  }
}

#info-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 2rem;
  background: var(--secondary);
  padding: 1rem;
  border-radius: 0.8rem;
  font-weight: 600;
  box-shadow: 0rem 0.5rem 0.5rem var(--shadow);
}

.user-info-title {
  font-size: 0.8rem;
  font-weight: 300;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-info-container {
  width: 100%;
  border-bottom: 1px solid var(--accent);
}

#edit-profile-info-button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  background: var(--secondary-purple-highlight);
  color: var(--primary);
}
