#profile {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  padding: 1rem;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  #profile {
    flex-direction: row-reverse;
    align-items: start;
    justify-content: center;
  }
}

#edit-profile-form-container {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom right,
    rgb(69, 196, 176, 0.2),
    rgb(157, 133, 242, 0.2)
  );
  backdrop-filter: blur(12px);
  padding: 1rem;
}

#edit-profile-form {
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.8rem;
  margin: auto 0px;
  max-width: 425px;
  z-index: 1;
  background: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  box-shadow: 0rem 0.5rem 0.5rem var(--shadow);
}

.edit-profile-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.edit-profile-input-wrapper label {
  margin-right: auto;
  font-size: 0.8rem;
}

.edit-profile-input-wrapper input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.4rem;
}

.edit-profile-input-wrapper input:focus {
  outline: none;
  box-shadow: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.edit-profile-input {
  border: 0.1rem solid var(--secondary-green-highlight);
}

.edit-profile-input:focus {
  border-bottom: 0.2rem solid var(--secondary-green-highlight);
}

.close-edit-profile-form {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background: none;
  color: var(--accent);
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.close-edit-profile-form:hover {
  background: var(--accent);
  color: var(--primary);
}

#edit-profile-submit {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background: var(--secondary-green-highlight);
  font-weight: 700;
}

#edit-profile-image-form {
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.8rem;
  margin: auto 0px;
  max-width: 425px;
  z-index: 1;
  background: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  box-shadow: 0rem 0.5rem 0.5rem var(--shadow);
}

#profile-image-input {
  display: none;
}

#profile-image-input-display {
  width: 100%;
  height: 20rem;
  border: thin solid var(--accent);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: top;
  background-size: cover;
}

#profile-image-input-display i {
  font-size: 5rem;
  opacity: 0.5;
  color: var(--accent);
}

.edit-profile-image-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

#profile-image-input-label {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

#profile-image-input-label:hover {
  background: var(--accent);
  color: var(--primary);
}

.edit-profile-image-action-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  width: 100%;
}

#remove-profile-image-button {
  background: none;
  border: none;
  outline: none;
  color: var(--accent);
  padding: 1rem;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

#remove-profile-image-button:hover {
  background: var(--accent);
  color: var(--primary);
}

#image-container {
  width: 100%;
  height: 17rem;
  min-width: 17rem;
  min-height: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: top;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-purple-highlight),
    var(--secondary-green-highlight)
  );
  background-size: cover;
  border-radius: 0.8rem;
  position: relative;
}

#edit-profile-image-button {
  border: none;
  outline: none;
  background: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

#edit-profile-image-button:hover {
  background: var(--secondary);
  color: var(--accent);
  box-shadow: 0rem 0.5rem 0.5rem var(--shadow);
}

@media screen and (min-width: 768px) {
  #image-container {
    height: 10rem;
    width: 10rem;
  }
}

#info-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 2rem;
  background: var(--secondary);
  padding: 1rem;
  border-radius: 0.8rem;
  font-weight: 600;
  box-shadow: 0rem 0.5rem 0.5rem var(--shadow);
}

.user-info-title {
  font-size: 0.8rem;
  font-weight: 300;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-info-container {
  width: 100%;
  border-bottom: 1px solid var(--accent);
}

#edit-profile-info-button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  background: var(--secondary-purple-highlight);
  color: var(--primary);
}
