:root {
    --primary: #0D0D0D;
    --secondary: #404040;
    --accent: #D9D9D9;

    --primary-green-highlight: #012030;
    --secondary-green-highlight:#45C4B0;
    --accent-green-highlight:#DAFDBA;
    
    --primary-purple-highlight: #6F4BF2;
    --secondary-purple-highlight:#9D85F2;
    --accent-purple-highlight: #BDAEF2;
}